.guess-character {
    font-family: 'Pirate', sans-serif;
    text-align: center;
    padding: 20px;
}

.wrong-guesses {
    color: #e67e22;
    margin-top: 20px;
}

.guesses {
    margin-top: 20px;
}

.guess-list {
    list-style-type: none;
    padding: 0;
}

.guess {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.reset-button:hover {
    background-color: #45a049;
}
