.navbar {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__title {
    margin: 0;
    font-family: 'Pirate', sans-serif;
}
img {
    width: 8%;
}
.navbar__links {
    font-size: 18px;
}

.navbar__link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f4c542;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar__link:hover {
    background-color: #ffd700;
}

.navbar__separator {
    margin: 0 10px;
}