/* WikiPage.css */

.wiki-page-container {
    background-color: #f8f1e7;
    color: #333;
    padding: 20px;
    font-family: 'Pirate', sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
  }
  .wiki-page-title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .page-title {
    font-size: 36px;
    color: rgb(252, 251, 251);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  input {
    width: 200px;
  }
  .search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  .search-input:focus {
    outline: none;
    border-color: #007bff;
  }
  .equipages-container {
    padding-left: 50px;
    padding-right: 50px;
  }
